    :root {
  --primary-color: #4e1f27;
  --secondary-color: #9b4b5b;
  --background-color: #fff6f8;
  --pink: #791225;
  --light-color: #f8f9fa;
  --text-color: #333;
  --text-light: #777;
  --white: #ffffff;
    }

body {
  background-color: white;
  padding: 20px;
}